1. Fill missing values: (ý nghĩa – ví dụ minh họa)
2. Encoding Categorical Variables: (ý nghĩa – ví dụ minh họa)
3. Feature Scaling: (ý nghĩa – ví dụ minh họa)
4. Feature Engineering: (ý nghĩa – ví dụ minh họa)
5. Outlier Detection and Removal: (ý nghĩa – ví dụ minh họa)
6. Splitting Data: (ý nghĩa – ví dụ minh họa)

In [22]:
#import thu vien
import pandas as pd
import numpy as np  # Importing numpy library for numerical operations
import matplotlib.pyplot as plt  # Importing matplotlib library for data visualization
import seaborn as sns  # Importing seaborn library for statistical plotting
from sklearn.preprocessing import MinMaxScaler

In [23]:
df = pd.read_csv('/Users/84869/DATA ANALYST/Invistico_Airline/Invistico_Airline.csv')

In [24]:
df.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       129880 non-null  object
 1   Gender                             129880 non-null  object
 2   Customer Type                      129880 non-null  object
 3   Age                                129880 non-null  int64
 4   Type of Travel                     129880 non-null  object
 5   Class                              129880 non-null  object
 6   Flight Distance                    129880 non-null  int64
 7   Seat comfort                       129880 non-null  int64
 8   Departure/Arrival time convenient  129880 non-null  int64
 9   Food and drink                     129880 non-null  int64
 10  Gate location                      129880 non-null  int64
 11  Inflight wifi service              129880 non-null  int64
 12  Inflight entertainment             129880 non-null  int64
 13  Online support                     129880 non-null  int64
 14  Ease of Online booking             129880 non-null  int64
 15  On-board service                   129880 non-null  int64
 16  Leg room service                   129880 non-null  int64
 17  Baggage handling                   129880 non-null  int64
 18  Checkin service                    129880 non-null  int64
 19  Cleanliness                        129880 non-null  int64
 20  Online boarding                    129880 non-null  int64
 21  Departure Delay in Minutes         129880 non-null  int64
 22  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(17), object(5)
memory usage: 22.8+ MB

In [26]:
miss_value = df.isnull().sum()
print(miss_value)

satisfaction                           0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
dtype: int64

In [27]:
# Tính tỷ lệ giá trị thiếu trong cột 'Arrival Delay in Minutes'
miss_value = df['Arrival Delay in Minutes'].isnull().sum()
total_count = df['Arrival Delay in Minutes'].shape[0]
missing_ratio = miss_value / total_count

print(f"Tỷ lệ giá trị thiếu trong cột 'Arrival Delay in Minutes': {missing_ratio:.2%}")

# Tính trung bình cộng của cột 'Arrival Delay in Minutes' (bỏ qua các giá trị thiếu)
mean_Arrival = df['Arrival Delay in Minutes'].mean()

print(f"Giá trị trung bình của cột 'Arrival Delay in Minutes' (không bao gồm giá trị thiếu): {mean_Arrival:.2f}")

# Điền giá trị thiếu trong cột 'Arrival Delay in Minutes' bằng trung bình cộng
df['Arrival Delay in Minutes'].fillna(mean_Arrival, inplace=True)

print("\nDataset sau khi điền giá trị thiếu trong cột 'Arrival Delay in Minutes':")
print(df)

Tỷ lệ giá trị thiếu trong cột 'Arrival Delay in Minutes': 0.30%
Giá trị trung bình của cột 'Arrival Delay in Minutes' (không bao gồm giá trị thiếu): 15.09

Dataset sau khi điền giá trị thiếu trong cột 'Arrival Delay in Minutes':
        satisfaction  Gender      Customer Type  Age   Type of Travel  \
0          satisfied  Female     Loyal Customer   65  Personal Travel
1          satisfied    Male     Loyal Customer   47  Personal Travel
2          satisfied  Female     Loyal Customer   15  Personal Travel
3          satisfied  Female     Loyal Customer   60  Personal Travel
4          satisfied  Female     Loyal Customer   70  Personal Travel
...              ...     ...                ...  ...              ...
129875     satisfied  Female  disloyal Customer   29  Personal Travel
129876  dissatisfied    Male  disloyal Customer   63  Personal Travel
129877  dissatisfied    Male  disloyal Customer   69  Personal Travel
129878  dissatisfied    Male  disloyal Customer   66  Personal Travel
129879  dissatisfied  Female  disloyal Customer   38  Personal Travel

           Class  Flight Distance  Seat comfort  \
0            Eco              265             0
1       Business             2464             0
2            Eco             2138             0
3            Eco              623             0
4            Eco              354             0
...          ...              ...           ...
129875       Eco             1731             5
129876  Business             2087             2
129877       Eco             2320             3
129878       Eco             2450             3
129879       Eco             4307             3

        Departure/Arrival time convenient  Food and drink  ...  \
0                                       0               0  ...
1                                       0               0  ...
2                                       0               0  ...
3                                       0               0  ...
4                                       0               0  ...
...                                   ...             ...  ...
129875                                  5               5  ...
129876                                  3               2  ...
129877                                  0               3  ...
129878                                  2               3  ...
129879                                  4               3  ...

        Online support  Ease of Online booking  On-board service  \
0                    2                       3                 3
1                    2                       3                 4
2                    2                       2                 3
3                    3                       1                 1
4                    4                       2                 2
...                ...                     ...               ...
129875               2                       2                 3
129876               1                       3                 2
129877               2                       4                 4
129878               2                       3                 3
129879               3                       4                 5

        Leg room service  Baggage handling  Checkin service  Cleanliness  \
0                      0                 3                5            3
1                      4                 4                2            3
2                      3                 4                4            4
3                      0                 1                4            1
4                      0                 2                4            2
...                  ...               ...              ...          ...
129875                 3                 4                4            4
129876                 3                 3                1            2
129877                 3                 4                2            3
129878                 2                 3                2            1
129879                 5                 5                3            3

        Online boarding  Departure Delay in Minutes  Arrival Delay in Minutes
0                     2                           0                       0.0
1                     2                         310                     305.0
2                     2                           0                       0.0
3                     3                           0                       0.0
4                     5                           0                       0.0
...                 ...                         ...                       ...
129875                2                           0                       0.0
129876                1                         174                     172.0
129877                2                         155                     163.0
129878                2                         193                     205.0
129879                3                         185                     186.0

[129880 rows x 23 columns]

In [33]:
df.describe()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,39.427957,1981.409055,2.838597,2.990645,2.851994,2.990422,3.249130,3.383477,3.519703,3.472105,3.465075,3.485902,3.695673,3.340807,3.705759,3.352587,14.713713,0.009527
std,15.119360,1027.115606,1.392983,1.527224,1.443729,1.305970,1.318818,1.346059,1.306511,1.305560,1.270836,1.292226,1.156483,1.260582,1.151774,1.298715,38.071126,0.024247
min,7.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,1359.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,1925.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,0.000000,0.000000
75%,51.000000,2544.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,12.000000,0.008207
max,85.000000,6951.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1.000000